GONOTELM_DB_PASSWORD=
GONOTELM_MINIO_ACCESS_KEY=
GONOTELM_MINIO_SECRET_KEY=
GONOTELM_KAFKA_USERNAME=
GONOTELM_KAFKA_PASSWORD=
GONOTELM_DASHSCOPE_API_KEY=
GONOTELM_DEEPSEEK_API_KEY=
GONOTELM_OPENAI_API_KEY=
GONOTELM_OPENAI_BASE_URL=
GONOTELM_OPENAI_MODEL=
GONOTELM_LOGIC_SOURCE_MODEL=
GONOTELM_LOGIC_CHAT_MODEL=
