ENV_GONOTELM_DB_PASSWORD=
ENV_GONOTELM_MINIO_ACCESS_KEY=
ENV_GONOTELM_MINIO_SECRET_KEY=
ENV_GONOTELM_KAFKA_USERNAME=
ENV_GONOTELM_KAFKA_PASSWORD=
ENV_GONOTELM_DASHSCOPE_API_KEY=
ENV_GONOTELM_DEEPSEEK_API_KEY=
ENV_GONOTELM_OPENAI_API_KEY=
ENV_GONOTELM_OPENAI_BASE_URL=
ENV_GONOTELM_OPENAI_MODEL=
ENV_GONOTELM_LOGIC_SOURCE_MODEL=
ENV_GONOTELM_LOGIC_CHAT_MODEL=
